<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>블로그 글 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="p-5 mb-5 text-center bg-light">
    <h1 class="mb-3">My Blog</h1>
    <h4 class="mb-3">블로그에 오신 것을 환영합니다, <span th:text="${member.name}"></span>님!</h4>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <input type="hidden" id="post-id" th:value="${post.id}">
                <div class="card-header">
                    <h1 class="fw-bolder mb-1" th:text="${post.title}"></h1>
                    <div class="text-muted fst-italic" th:text="|Posted on ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
                </div>
                <div class="card-body">
                    <section class="mb-5">
                        <p class="fs-5 mb-4" th:text="${post.content}"></p>
                    </section>

                    <!-- 버튼 그룹 -->
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" id="modify-btn"
                                th:onclick="|location.href='@{/new-post?id={postId}(postId=${post.id})}'|"
                                class="btn btn-primary btn-sm">수정</button>
                        <button type="button" id="delete-btn" class="btn btn-secondary btn-sm">삭제</button>
                    </div>
                </div>
            </article>
            <div class="mt-5">
                <div th:each="comment : ${post.comments}">
                    <div class="card m-2" id="comment-id">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <span th:text="${comment.nickname}"></span>
                            <div class="ms-auto d-flex gap-3">
                                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#example">수정</button>
                                <button type="button" class="btn btn-sm btn-outline-danger comment-delete-btn">삭제</button>
                            </div>
                        </div>
                        <div class="card-body" th:text="${comment.content}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h4>댓글 달기</h4>
                <article>
                    <textarea class="form-control" name="content" id="content" rows="3" placeholder="댓글을 입력하세요"></textarea>
                    <button type="button" id="comment-btn" class="btn btn-primary btn-sm">댓글 등록</button>
                </article>
            </div>
        </div>
    </div>
</div>


<script src="/js/post.js"></script>
<script src="/js/comment.js"></script>
</body>
</html>